@{
  Layout = "_Layout";
}

<h1 class="jumbotron">Furr Real Animal Shelter</h1>

<div class="container">
  <h2>Welcome to Furr Real Animal Shelter</h2>
  <p>@Html.ActionLink("View all animals", "Index", "Animals")</p>
</div>