@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>

<h1>Furr Real Animals up for Adoption!</h1>

<ul>
  @foreach(Animal animal in Model)
  {
    <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId })</li>
  }
</ul>

<form asp-controller="Animals" asp-action="Index">
  <p>
  Animal Type: <input type="text" name="SearchString">
  <input type="submit" value="Filter" />
  </p>
</form>

<p>@Html.ActionLink("Add new Animal", "Create")</p> 